body {
    background-color: black;
    margin: 0;
    padding: 0;
}

.hotline-button {
    position: absolute;
    top: 10px;
    left: 10px;
    background-color: transparent; /* Transparent background */
    color: rgba(255, 255, 255, 0.8); /* Light gray text */
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
}

.hotline-button:hover {
    color: rgba(255, 255, 255, 1); /* White text on hover */
}
h1 {
    text-align: center;
}

#searchInput {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
}

#hotlineList {
    list-style-type: none;
    padding: 0;
}

#hotlineList li {
    padding: 5px 0;
    border-bottom: 1px solid #ccc;
}

#hotlineList li:last-child {
    border-bottom: none;
}

video {
    display: block;
    margin: 0 auto;
    max-width: 80%;
    margin-top: 50px;
}